body{
  background-color: #427FC2 !important;
}
.img100{
  width: 200px;

}
.cadre{
  border: 1px white solid;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff2b;
  text-align: center;
  margin: 10px 0;
}
